{% extends "layout.html" %} {% block title %}Top of the Day{% endblock %} {%
block content %} {% for subreddit in videos %}
<h5 class="subreddit">
  <a href="https://www.reddit.com/r/{{subreddit}}/top/?t=day" target="blank">
    r/{{ subreddit }}</a
  >
</h5>

<div class="grid row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  {% for thread in videos[subreddit] %}
  <div class="col">
    <div class="card shadow-sm">
      <div class="card-body">
        <div>
          <p class="card-text">{{ thread.title }}</p>

          {% if thread.over_18 %}
          <p class="badge bg-danger">NSFW</p>
          {% endif %}

          <p class="badge" style="background-color: rgb(255, 86, 0)">
            {{ thread.upvotes }}
          </p>
          <p class="badge bg-primary">{{ thread.length | round | int }}s</p>
        </div>

        {% if thread.type == "pending_review" %}
        <a
          class="btn btn-sm btn-outline-secondary"
          href="{{ url_for('review', subreddit=subreddit, thread=thread.id) }}"
          style="margin-top: 1rem"
          >Review Video</a
        >
        {% else %}
        <button
          class="btn btn-sm btn-primary"
          disabled
          style="margin-top: 1rem"
        >
          {% if thread.type == "pending_upload" %} Pending Upload {% elif
          thread.type == "pending_remake" %} Pending Remake {% endif %}
        </button>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endfor %} {% endblock %}
