{% extends "layout.html" %} {% block title %}{{ thread.title }}{% endblock %} {%
block content %}
<div id="review-container">
  <div id="video-container">
    <video id="video" controls>
      <source
        src="{{ url_for('video', subreddit=thread.subreddit, thread=thread.id) }}"
        type="video/mp4"
      />
    </video>

    <div>
      <a
        class="btn btn-md btn-outline-secondary"
        onclick="openModal('upload', '{{ thread.subreddit }}', '{{ thread.id }}')"
      >
        Queue Upload
      </a>

      <button
        class="btn btn-md btn-outline-secondary"
        id="remakeBtn"
        disabled
        onclick="openModal('remake', '{{ thread.subreddit }}', '{{ thread.id }}')"
      >
        Queue Remake
      </button>

      <a
        class="btn btn-md btn-outline-secondary"
        onclick="openModal('delete')"
      >
        Delete
      </a>
    </div>
  </div>

  <div id="content">
    <div style="margin-bottom: 1rem">
      <h2 style="margin: 0">{{ thread.title }}</h2>

      {% if thread.over_18 %}
      <p class="badge bg-danger">NSFW</p>
      {% endif %}
      <p
        class="video-tag badge"
        data-bs-toggle="tooltip"
        data-bs-placement="bottom"
        title="Upvotes"
        style="background-color: rgb(255, 86, 0)"
      >
        <object
          data="{{ url_for('static', filename='svg/upvote.svg') }}"
          height="12"
          width="12"
        ></object>
        {{ thread.upvotes }}
      </p>
      <p
        class="video-tag badge bg-primary"
        data-bs-toggle="tooltip"
        data-bs-placement="bottom"
        title="Length"
      >
        <object
          data="{{ url_for('static', filename='svg/length.svg') }}"
          height="12"
          width="12"
        ></object>
        {{ thread.length | round | int }}s
      </p>
      <br />
      <small class="text-muted" style="text-align: end"
        >{{ thread.created_since }}</small
      >
    </div>

    <a
      class="btn btn-md btn-outline-secondary"
      href="{{ thread.url }}"
      target="blank"
    >
      View on Reddit
    </a>

    {% if thread.body %}
    <p id="body-text" oninput="inputBody()" style="margin-top: 1rem">{{ thread.body }}</p>
    <button
      class="btn btn-sm btn-outline-secondary"
      id="edit-body-btn"
      onclick="editBody()"
    >Edit</button>
    <span id="confirm-body-container" hidden>
      <button
        class="btn btn-sm btn-outline-secondary"
        id="confirm-body-btn"
        disabled
        onclick="confirmBody()"
      >
        Confirm
      </button>
      <br>
      <small class="text-muted">Changes do not save until video is queued to be remade</small>
    </span>

    {% endif %} {% if thread.comments %}
    <h3 style="margin-top: 1rem">{{ thread.comments | length }} comments</h3>
    {% endif %} {% for comment in thread.comments %}
    <div class="comment" id="{{ comment.id }}">
      <p id="comment-text" oninput="inputComment('{{ comment.id }}')">{{ comment.body }}</p>
      <button
        class="btn btn-sm btn-outline-secondary"
        id="edit-btn"
        onclick="editComment('{{ comment.id }}')"
      >Edit</button>
      <span id="confirm-container" hidden>
        <button
          class="btn btn-sm btn-outline-secondary"
          id="confirm-btn"
          disabled
          onclick="confirmComment('{{ comment.id }}')"
        >
          Confirm
        </button>
        <br>
        <small class="text-muted">Changes do not save until video is queued to be remade</small>
      </span>
    </div>
    {% endfor %}
  </div>
</div>

<!-- The modal -->
<div id="dialog-modal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <h4 class="modal-title" id="myModalLabel">default</h4>

    <div class="modal-btns">
      <a
          class="btn btn-md btn-outline-danger"
          id="confirm-btn"
          href="default"
        >
          Default
      </a>
  
      <a
          class="btn btn-md btn-outline-secondary"
          id="cancel-btn"
          onclick="closeModal()"
      >Cancel</a>        
    </div>
  </div>
</div>
{% endblock %}
