{% extends "layout.html" %}

{% block title %}{{ data.title }}{% endblock %}

{% block content %}
    <video width="320" height="240" controls>
        <source src="{{ url_for('video', subreddit=data.subreddit, thread=data.id) }}" type="video/mp4">
    </video>

    <h2>
        <a href="{{ data.url }}" target="blank">
            {{ data.title }}</a>
    </h2>
    
    {% if data.body %}
        <p id="bodyText" oninput="inputBody()">{{ data.body }}</p>
        <button id="editBodyBtn" onclick="editBody()">Edit</button>
        <button id="saveBodyBtn" disabled hidden onclick="saveBody('{{ data.subreddit }}', '{{ data.id }}')">Save</button>
    {% endif %}

    <h3>{{ data.comments | length }} comments used</h3>
    {% for comment in data.comments %}
        <div class="comment" id="{{ comment.id }}">
            <p id="commentText" oninput="inputComment('{{ comment.id }}')">{{ comment.body }}</p>
            <button id="editBtn" onclick="editComment('{{ comment.id }}')">Edit</button>
            <button id="saveBtn" disabled hidden onclick="saveComment('{{ data.subreddit }}', '{{ data.id }}', '{{ comment.id }}')">Save</button>
        </div>
    {% endfor %}

    <button>
        <a href="{{ url_for('approve', subreddit=data.subreddit, thread=data.id) }}">
            Approve
        </a>
    </button>

    <button>
        <a href="{{ url_for('delete', subreddit=data.subreddit, thread=data.id) }}">
            Delete
        </a>
    </button>
{% endblock %}